<nav class="navbar">
  <article class="nav-item">
    <a routerLink="/home"
      ><i class="pi pi-home" style="font-size: 1.5rem"></i> Inicio</a
    >
    <p-divider />
  </article>
  <article class="nav-item">
    <a routerLink="/accounts"
      ><i class="pi pi-credit-card" style="font-size: 1.5rem"></i>Cuentas</a
    >
    <p-divider />
  </article>
  <article class="nav-item">
    <a routerLink="/transactions"
      ><i class="pi pi-money-bill" style="font-size: 1.5rem"></i
      >Transacciones</a
    >
    <p-divider />
  </article>
  <article class="nav-item">
    <a routerLink="/reports"
      ><i class="pi pi-chart-bar" style="font-size: 1.5rem"></i>Resumen</a
    >
    <p-divider />
  </article>
</nav>
